.sage {
  width: 700px;
  height: 300px;
  border-radius: 15px;
  border: 3px solid #ff5a5f;
}
.fas {
  font-size: 20px;
  color: rgb(113, 114, 116);
}
.fas:hover {
  color: #ff5a5f;
}
h3 {
  color: #1a1918e3;
  font-family: "PT Sans", sans-serif;
}
h4 {
  color: #1a1918e3;
  font-family: "PT Sans", sans-serif;
}

.prix {
  text-align: center;
  color: #ff5a5f;
  font-family: "PT Sans", sans-serif;
}
.btn {
  background-color: #36353554;
  width: 190px;
  font-size: small;
  padding-left: 12px;
}
